@import url("http://at.alicdn.com/t/font_962869_m54edp5t7li.css");

// 移动的图标样式
.mark-move {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;

    .content{
        display: flex;
        align-items: center;
        width: 100%;
        background-color: #262633;

        .icon{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 16px;
            height: 16px;
            border-radius: 8px;
            background-color: rgba(211, 84, 0 ,1);
            margin-left: 2px;
            color: #ffffff;
        }

        .desc{
            color: #ffffff;
            margin-left: 3px;
            font-size: 8px;
        }

        .number{
            margin-left: 3px;
            font-size: 8px;
            color: #00E5E6;
        }
    }

    .column {
        background-image: linear-gradient(bottom, rgba(128, 139, 150, 0.5) 0%, rgba(211, 84, 0 ,1) 100%);
    }
}


.mark-camera{
    transform: rotate(45deg);
}

