.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

// 移动的图标样式
.move {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;

    .content{
        display: flex;
        align-items: center;
        width: 100%;
        background-color: #262633;

        .icon{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 16px;
            height: 16px;
            border-radius: 8px;
            margin-left: 2px;
            color: #ffffff;
        }

        .desc{
            color: #ffffff;
            margin-left: 3px;
            font-size: 8px;
        }

        .number{
            margin-left: 3px;
            font-size: 8px;
            color: #00E5E6;
        }
    }
}

// 摄像头
.camera{
    transform: rotate(-45deg);
    display: flex;
    align-items: center;
    justify-content: center;
}

// 监狱
.prison{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;

    .content{
        display: flex;
        align-items: center;
        width: 100%;
        background-color: #262633;

        .icon{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 20px;
            height: 20px;
            background-color: #0076E8;
            color: #001F3F;
        }

        .name{
            color: #ffffff;
            margin-left: 3px;
            font-size: 8px;
        }
    }

    .column {
        background-image: linear-gradient(bottom, rgba(128, 139, 150, 0.5) 0%, rgba(211, 84, 0 ,1) 100%);
    }
}
