.result-tooltip{
    background-color: white;
    border-width: medium;
    border-color: #cccccc;
    font-size: smaller;
}
.moving-tooltip{
    background-color: rgba(255, 255, 255, .7);
    background-clip: padding-box;
    opacity: 0.5;
    border: dotted;
    border-color: #cccccc;
    font-size: smaller;
}
.plus-length{
    padding-left: 45px;
}
